<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>ListTest</servlet-name>
        <servlet-class>net.coderodde.multilog.ListTest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SigninServlet</servlet-name>
        <servlet-class>net.coderodde.multilog.contoller.SigninServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeServlet</servlet-name>
        <servlet-class>net.coderodde.multilog.contoller.HomeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignoutServlet</servlet-name>
        <servlet-class>net.coderodde.multilog.contoller.SignoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TopicServlet</servlet-name>
        <servlet-class>net.coderodde.multilog.contoller.TopicServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignupController</servlet-name>
        <servlet-class>net.coderodde.multilog.contoller.SignupServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccountServlet</servlet-name>
        <servlet-class>net.coderodde.multilog.contoller.AccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteAccountServlet</servlet-name>
        <servlet-class>net.coderodde.multilog.contoller.DeleteAccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateAccountServlet</servlet-name>
        <servlet-class>net.coderodde.multilog.contoller.UpdateAccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ThreadServlet</servlet-name>
        <servlet-class>net.coderodde.multilog.contoller.ThreadServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PostServlet</servlet-name>
        <servlet-class>net.coderodde.multilog.contoller.PostServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdatePostServlet</servlet-name>
        <servlet-class>net.coderodde.multilog.contoller.UpdatePostServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewTopicServlet</servlet-name>
        <servlet-class>net.coderodde.multilog.contoller.NewTopicServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteTopicServlet</servlet-name>
        <servlet-class>net.coderodde.multilog.contoller.DeleteTopicServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteThreadServlet</servlet-name>
        <servlet-class>net.coderodde.multilog.contoller.DeleteThreadServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewThreadServlet</servlet-name>
        <servlet-class>net.coderodde.multilog.contoller.NewThreadServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BanServlet</servlet-name>
        <servlet-class>net.coderodde.multilog.contoller.BanServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PromoteServlet</servlet-name>
        <servlet-class>net.coderodde.multilog.contoller.PromoteServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ListTest</servlet-name>
        <url-pattern>/ListTest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SigninServlet</servlet-name>
        <url-pattern>/signin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeServlet</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignoutServlet</servlet-name>
        <url-pattern>/signout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TopicServlet</servlet-name>
        <url-pattern>/topic</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignupController</servlet-name>
        <url-pattern>/signup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccountServlet</servlet-name>
        <url-pattern>/account</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteAccountServlet</servlet-name>
        <url-pattern>/accountdelete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateAccountServlet</servlet-name>
        <url-pattern>/accountupdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ThreadServlet</servlet-name>
        <url-pattern>/thread</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PostServlet</servlet-name>
        <url-pattern>/dopost</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdatePostServlet</servlet-name>
        <url-pattern>/updatepost</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewTopicServlet</servlet-name>
        <url-pattern>/newtopic</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteTopicServlet</servlet-name>
        <url-pattern>/deletetopic</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteThreadServlet</servlet-name>
        <url-pattern>/deletethread</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewThreadServlet</servlet-name>
        <url-pattern>/newthread</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BanServlet</servlet-name>
        <url-pattern>/ban</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PromoteServlet</servlet-name>
        <url-pattern>/promote</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>home</welcome-file>
    </welcome-file-list>
</web-app>
