body {
    margin: 0;
    font-family: 'Teknik';
    font-weight: bold;
    font-style: normal;
}

#main-content {
    line-height: 1;
    top: 0;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 0;
    font-size: 14px;
    width: 800px;
    height: 95%;
    background-color: #d2d2d2;
}

#logo {
    display: block;
    margin: auto;
}

#header {
    background-color: #2894f7;
}

#footer {

}

#navibar {
    background-color: black;
}

.navibar-left-item {
    float: left;
    display: inline;
}

.navibar-right-item {
    float: right;
    display: inline;
}

.navibar-link a:link    {color: red;}
.navibar-link a:hover   {color: red;}
.navibar-link a:active  {color: red;}
.navibar-link a:visited {color: red;}

.navibar-link {
    padding: 10px;
}
